#container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.tab {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#tabcontent {
    display: block;
    padding: 6px 12px;
    color: black;
}

#postcontent {
    display: block;
    padding: 6px 12px;
    color: black;
}

.a {
    display: inline-block;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
    transition: 0.3s;
}

.a:visited {
    color: black;
    text-decoration: none;
}

.li {
    float: left;
    display: inline-block;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
}

<!-- 여기부터 다른거 -->
.checkbox {
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }


.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }