<?xml version="1.0" encoding="UTF-8"?>
<!--
 * @author Woohyeok Jun <woohyeok.jun@worksmobile.com>
 * @file AlarmMapper.xml
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.project.blockboard.mapper.AlarmMapper">
  <insert id="insertAlarm" parameterType="com.board.project.blockboard.dto.AlarmDTO">
    INSERT INTO
    alarms (
      tagged_user_id
      <if test="postID != 0">
        ,post_id
      </if>
      <if test="commentID != 0">
        ,comment_id
      </if>)
    VALUES (#{taggedUserID}
      <if test="postID != 0">
        ,#{postID}
      </if>
      <if test="commentID != 0">
        ,#{commentID}
      </if>);
  </insert>

  <delete id="deleteAlarm" parameterType="int">
    DELETE
    FROM alarms
    WHERE alarm_id = #{alarmID};
  </delete>

  <select id="selectAlarmsByUser" parameterType="com.board.project.blockboard.dto.UserDTO"
    resultType="com.board.project.blockboard.dto.AlarmDTO">
    SELECT alarm.alarm_id                AS alarmID,
           alarm.post_id                 AS postID,
           alarm.comment_id              AS commentID,
           comment.comment_content       AS alarmContent,
           users.user_name               AS userName,
           comment.comment_register_time AS registerTime
    FROM alarms alarm
           JOIN comments comment ON alarm.comment_id = comment.comment_id
           JOIN users ON comment.user_id = users.user_id
    WHERE alarm.tagged_user_id = #{userID}
      AND users.company_id = #{companyID}
    UNION
    SELECT alarm.alarm_id          AS alarmID,
           alarm.post_id           AS postID,
           alarm.comment_id        AS commentID,
           ''                      AS alarmContent,
           users.user_name         AS userName,
           post.post_register_time AS registerTime
    FROM alarms alarm
           JOIN posts post ON alarm.post_id = post.post_id
           JOIN users ON post.user_id = users.user_id
    WHERE alarm.tagged_user_id = #{userID}
      AND users.company_id = #{companyID}
    ORDER BY registerTime DESC;
  </select>
</mapper>