<?xml version="1.0" encoding="UTF-8"?>
<!--
 * @author Dongwook Kim <dongwook.kim1211@worksmobile.com>
 * @file CommentMapper.xml
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.project.blockboard.mapper.CommentMapper">
  <select id="selectCommentsByPostID" parameterType="int"
    resultType="com.board.project.blockboard.dto.CommentDTO">
    SELECT comments.comment_id            AS commentID,
           comments.post_id               AS postID,
           comments.user_id               AS userID,
           users.user_name                AS userName,
           users.thumbnail_url            AS thumbnailUrl,
           comments.company_id            AS companyID,
           comments.comment_content       AS commentContent,
           comments.comment_register_time AS commentRegisterTime,
           comments.comment_referenced_id AS commentReferencedID,
           comments.replies_count         AS repliesCount
    FROM comments comments
           LEFT OUTER JOIN users users
                           ON comments.user_id = users.user_id
    WHERE comments.post_id = #{postID}
      AND comments.comment_referenced_id IS NULL
    LIMIT  #{startIndex},#{pageSize};
  </select>

  <select id="getAllCommentsCountByPostID" parameterType="int" resultType="int">
    SELECT Count(comment_id)
    FROM comments
    WHERE post_id = #{postID};
  </select>

  <select id="getOnlyCommentsCountByPostID" parameterType="int" resultType="int">
    SELECT Count(comment_id)
    FROM comments
    WHERE post_id = #{postID}
      AND comment_referenced_id IS NULL;
  </select>

  <select id="selectUserIDByCommentID" parameterType="int" resultType="string">
    SELECT user_id
    FROM comments
    WHERE comment_id = #{commentID};
  </select>

  <insert id="insertNewCommentByCommentInfo" parameterType="hashmap">
    INSERT INTO comments
    (post_id,
     user_id,
     company_id,
     comment_content,
     comment_content_except_htmltag,
     comment_referenced_id)
    VALUES (#{postID},
            #{userID},
            #{companyID},
            #{commentContent},
            #{commentContentExceptHTMLTag},
            NULL);
    <selectKey keyProperty="commentID" resultType="int" order="AFTER">
      <if test='commentID != 0'>
        SELECT #{commentID};
      </if>
      <if test='commentID == 0'>
        SELECT LAST_INSERT_ID();
      </if>
    </selectKey>
  </insert>

  <delete id="deleteCommentByCommentReferencedID" parameterType="int">
    DELETE
    FROM comments
    WHERE comment_referenced_id = #{commentID};
  </delete>

  <delete id="deleteCommentByCommentID" parameterType="int">
    DELETE
    FROM comments
    WHERE comment_id = #{commentID};
  </delete>

  <delete id="deleteCommentsByPostID" parameterType="int">
    DELETE
    FROM comments
    WHERE post_id = #{postID};
  </delete>

  <update id="updateComment" parameterType="com.board.project.blockboard.dto.CommentDTO">
    UPDATE comments
    SET comment_content = #{commentContent},
        comment_content_except_htmltag = #{commentContentExceptHTMLTag}
    WHERE comment_id = #{commentID};
  </update>

  <update id="updateRepliesCountPlus1" parameterType="int">
    UPDATE comments
    SET replies_count = replies_count + 1
    WHERE comment_id = #{commentReferencedID};
  </update>
  <update id="updateRepliesCountMinus1" parameterType="int">
    UPDATE comments
    SET replies_count = replies_count - 1
    WHERE comment_id = #{commentReferencedID};
  </update>

  <select id="selectCommentReferencedIDByCommentID" parameterType="int" resultType="int">
    SELECT comment_referenced_id
    FROM comments
    WHERE comment_id = #{commentID};
  </select>

  <select id="selectRepliesCountByCommentReferencedID" parameterType="int" resultType="int">
    SELECT replies_count
    FROM comments
    WHERE comment_id = #{commentReferencedID};
  </select>

  <select id="selectCommentByCommentId" parameterType="int"
    resultType="com.board.project.blockboard.dto.CommentDTO">
    SELECT comments.comment_id            AS commentID,
           comments.post_id               AS postID,
           comments.user_id               AS userID,
           users.user_name                AS userName,
           users.user_id                  AS userID,
           comments.company_id            AS companyID,
           comments.comment_content       AS commentContent,
           comments.comment_register_time AS commentRegisterTime,
           comments.comment_referenced_id AS commentReferencedID
    FROM comments
           JOIN users ON comments.user_id = users.user_id
    WHERE comments.comment_id = #{commentId};
  </select>
</mapper>