<?xml version="1.0" encoding="UTF-8"?>
<!--
 * @author Dongwook Kim <dongwook.kim1211@worksmobile.com>
 * @file FunctionMapper.xml
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.project.blockboard.mapper.FunctionMapper">

    <select id="selectFunctionCheckByCompanyID" parameterType="int" resultType="com.board.project.blockboard.dto.FunctionDTO">
        SELECT  boardfunction.function_id as functionID,
                ifnull(functioncheck.company_id,0) as companyID,
                boardfunction.function_name as functionName,
                functioncheck.function_data as functionData
        FROM BoardFunction boardfunction
        LEFT OUTER JOIN FunctionCheck functioncheck
        ON boardfunction.function_id = functioncheck.function_id
        AND functioncheck.company_id = #{companyID};
    </select>

    <insert id="insertFunctionCheckData" parameterType="hashmap">
        INSERT INTO FunctionCheck
        VALUES(#{companyID},#{functionID},null);
    </insert>

    <delete id="deleteFunctionCheckData" parameterType="hashmap">
        DELETE FROM FunctionCheck
        WHERE company_id = #{companyID}
        AND function_id = #{functionID};
    </delete>
</mapper>