<?xml version="1.0" encoding="UTF-8"?>
<!--
 * @author Dongwook Kim <dongwook.kim1211@worksmobile.com>
 * @file ReplyMapper.xml
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.project.blockboard.mapper.ReplyMapper">
    <select id="selectRepliesByCommentID" parameterType="int" resultType="com.board.project.blockboard.dto.CommentDTO">
        SELECT comments.comment_id            AS commentID,
               comments.board_id              AS boardID,
               comments.post_id               AS postID,
               comments.user_id               AS userID,
               users.user_name                AS userName,
               comments.company_id            AS companyID,
               comments.comment_content       AS commentContent,
               comments.comment_register_time AS commentRegisterTime,
               comments.comment_referenced_id AS commentReferencedID,
               referenced_user.user_id        AS commentReferencedUserID,
               referenced_user.user_name      AS commentReferencedUserName
        FROM   comments comments
               LEFT OUTER JOIN users users
                            ON comments.user_id = users.user_id
               LEFT OUTER JOIN users referenced_user
                            ON comments.comment_referenced_user_id =
                               referenced_user.user_id
        WHERE  comments.comment_referenced_id = #{commentReferencedID};
    </select>

    <insert id="insertNewReplyByCommentInfo" parameterType="hashmap" >
        INSERT INTO comments
                    (board_id,
                     post_id,
                     user_id,
                     company_id,
                     comment_content,
                     comment_referenced_id,
                     comment_referenced_user_id)
        VALUES      ( #{boardID},
                      #{postID},
                      #{userID},
                      #{companyID},
                      #{commentContent},
                      #{commentReferencedID},
                      #{commentReferencedUserID});
    </insert>
</mapper>