<?xml version="1.0" encoding="UTF-8"?>
<!--
 * @author Dongwook Kim <dongwook.kim1211@worksmobile.com>
 * @file ReplyMapper.xml
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.project.blockboard.mapper.ReplyMapper">
  <select id="selectRepliesByCommentId" parameterType="int"
    resultType="com.board.project.blockboard.dto.CommentDTO">
    SELECT comments.comment_id            AS commentId,
           comments.post_id               AS postId,
           comments.user_id               AS userId,
           users.user_name                AS userName,
           users.thumbnail_url            AS thumbnailUrl,
           comments.company_id            AS companyId,
           comments.comment_content       AS commentContent,
           comments.comment_register_time AS commentRegisterTime,
           comments.comment_referenced_id AS commentReferencedId
    FROM comments comments
           LEFT OUTER JOIN users users
                           ON comments.user_id = users.user_id
    WHERE comments.comment_referenced_id = #{commentReferencedId}
    LIMIT #{startIndex}, #{pageSize};
  </select>

  <insert id="insertNewReplyByCommentInfo" parameterType="hashmap">
    INSERT INTO comments
    (post_id,
     user_id,
     company_id,
     comment_content,
     comment_content_except_htmltag,
     comment_referenced_id)
    VALUES (#{postId},
            #{userId},
            #{companyId},
            #{commentContent},
            #{commentContentExceptHTMLTag},
            #{commentReferencedId});
    <selectKey keyProperty="commentId" resultType="int" order="AFTER">
      <if test='commentId != 0'>
        SELECT #{commentId};
      </if>
      <if test='commentId == 0'>
        SELECT LAST_INSERT_ID();
      </if>
    </selectKey>
  </insert>
</mapper>