<?xml version="1.0" encoding="UTF-8"?>
<!--
 * @author Woohyeok Jun <woohyeok.jun@worksmobile.com>
 * @file UserMapper.xml
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.project.blockboard.mapper.UserMapper">
  <select id="selectUserByID" parameterType="string"
    resultType="com.board.project.blockboard.dto.UserDTO">
    SELECT user_id       as userId,
           company_id    as companyId,
           user_name     as userName,
           user_password as userPassword,
           user_type     as userType
    FROM users
    WHERE user_id = #{userId};
  </select>

  <select id="selectUserByUserIdAndCompanyId" parameterType="com.board.project.blockboard.dto.UserDTO"
    resultType="com.board.project.blockboard.dto.UserDTO">
    SELECT users.user_id       as userId,
           users.company_id    as companyId,
           users.user_name     as userName,
           users.user_password as userPassword,
           users.user_type     as userType,
           users.image_url     as imageURL,
           users.thumbnail_url as thumbnailUrl,
           company.company_name  as companyName
    FROM users users
        JOIN companies company ON users.company_id = company.company_id
    WHERE users.user_id = #{userId} AND
          users.company_id = #{companyId};
  </select>

  <insert id="insertUser" parameterType="com.board.project.blockboard.dto.UserDTO">
    INSERT INTO
        users(
            user_id,
            company_id,
            user_name,
            user_password,
            user_type)
    VALUES (#{userId},
            #{companyId},
            #{userName},
            #{userPassword},
            #{userType});
  </insert>

  <select id="selectUserNameByUserId" parameterType="string" resultType="string">
    SELECT user_name as userName
    FROM users
    WHERE user_id = #{userId};
  </select>

  <!--userid로 회원 타입 반환-->
  <!--@author Dongwook Kim <dongwook.kim1211@worksmobile.com>-->
  <select id="selectUserTypeByUserId" parameterType="string" resultType="string">
    SELECT user_type AS userType
    FROM users
    WHERE user_id = #{userId};
  </select>

  <update id="updateUserImage" parameterType="hashmap">
    UPDATE users
    SET    image_url = #{imageUrl},
           image_file_name = #{imageFileName},
           thumbnail_url = #{thumbnailUrl},
           thumbnail_file_name = #{thumbnailFileName}
    WHERE  user_id = #{userId};
  </update>
  <select id="selectUsersByCompanyId" parameterType="int"
    resultType="com.board.project.blockboard.dto.UserDTO">
    SELECT user_id         AS userId,
           user_name       AS userName,
           user_type       AS userType,
           company_name    AS companyName,
           image_file_name AS imageFileName,
           thumbnail_url   AS thumbnailUrl
    FROM   users users
           JOIN companies company
             ON users.company_id = company.company_id
    WHERE  users.company_id = #{companyId};
  </select>
</mapper>